/* 
  Grid layouts
*/

.grid-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
}

.grid-col-12 { 
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.grid-no-gap {
    gap: 0 !important;
}
.grid-no-col-gap {
    column-gap: 0 !important;
}
.grid-no-row-gap {
    row-gap: 0 !important;
}

.col-2 {
    grid-column-end: span 2;
}
.col-3 {
    grid-column-end: span 3;
}
.col-4 {
    grid-column-end: span 4;
}
.col-5 {
    grid-column-end: span 4;
}
.col-6 {
    grid-column-end: span 6;
}
.col-7 {
    grid-column-end: span 7;
}
.col-8 {
    grid-column-end: span 8;
}
.col-9 {
    grid-column-end: span 9;
}
.col-10 {
    grid-column-end: span 10;
}
.col-11 {
    grid-column-end: span 11;
}
.col-12 {
    grid-column-end: span 12;
}

.start-col-2 {
    grid-column-start: 2;
}
.start-col-3 {
    grid-column-start: 3;
}
.start-col-4 {
    grid-column-start: 4;
}
.start-col-5 {
    grid-column-start: 5;
}
.start-col-6 {
    grid-column-start: 6;
}
.start-col-7 {
    grid-column-start: 7;
}
.start-col-8 {
    grid-column-start: 8;
}
.start-col-9 {
    grid-column-start: 9;
}
.start-col-10 {
    grid-column-start: 10;
}
.start-col-11 {
    grid-column-start: 11;
}
.start-col-12 {
    grid-column-start: 12;
}
