/* 
  MASTER STYLESHEET FOR ALL WEBSITE PAGES
  ***************************************
*/


/* 
  Variables
*/

:root {
    --black: #100F0A;
    --yellow: #FFE500;
    --yellow2: #D1BC00;
    --yellow3: #F1DA11;
    --darkyellow: #4D4500;
    --gray: #3F4047;
    --gray2: #B0B0B0;
    --lgray: #DCDCDB;
    --lgray2: #F6F7FA;
    --white: #FFFFFF;
    --red: #FF0000;
    --link-alt: #1185BA;
    --link-alt-hover: #72C9F0;
}


/* 
  Base rules
*/

* {
    box-sizing: border-box;
}


html {
    font-size: 14px;   /* the master font size -> propagates to all EMs/REMs */
    line-height: 1.25em;   /* baseline height - don't change */
}

section {
    padding-bottom: 2em;
}

strong {
    font-weight: 600;
}

hr {
    border: 1px solid #DCDCDC;
    margin-bottom: 1.66rem;
}

li {
    line-height: 1.5em;
}

figure {
    padding: 0;
    margin: 2em;
}

label {
    padding-bottom: .66em;
    font-family: 'Droid Sans', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
}

label.top {
    display: block;
}

table {
    padding: .8rem;
}

table td {
    padding: 0.5em 1.33em;
    font-size: .85em;
}

pre {
    margin: 0;
    white-space: pre-wrap;
}


/* 
  Colors
*/

.clr-black {
    color: var(--black);
}
.clr-yellow {
    color: var(--yellow);
}
.clr-gray {
    color: var(--gray);
}
.clr-lgray {
    color: var(--lgray);
}
.clr-white {
    color: var(--white);
}

.bg-purple {
    background-color: #a52de3 !important;
}
.bg-green {
    background-color: #44d721 !important;
}
.bg-crimson {
    background-color: #e23a91 !important;
}


/* 
  Typography
*/

body {
    font-family: 'Titillium Web', sans-serif;
    color: var(--black);
}

/*  Standard headings - use .heading in combo with other classes when these do not fit */
h1,.h1 {    
    display: block;
    font-weight: 600;
    font-size: 2.45rem;  
    margin: 3rem 0 3rem 0;
    color: var(--black) !important;
}

h2,.h2 {
    display: block;
    font-weight: 600;
    font-size: 2rem;  
    margin: 3.33rem 0 1.66rem 0;
    color: var(--black) !important;
}

h3,.h3 {
    display: block;
    font-weight: 600;
    font-size: 1.55rem;  
    margin: 1.66rem 0 1.66rem 0;
    color: var(--black) !important;
}
/* */

/*  Standard paragraph - use .copy in combo with other classes when it does not fit  */
p,.paragraph {
    padding: 0 0 .67em 0;   
    width: clamp(45ch, 100%, 75ch);
    font-family: 'Droid Sans', sans-serif;
    font-size: .95rem;
    line-height: 1.55em;
}
/* */

.heading {
    display: block;
    width: 100%;
    padding: 0.33rem 0 0.66em 0;
}

.copy {
    font-family: 'Droid Sans', sans-serif;
    font-size: .95em !important;
    line-height: 1.55em !important;
}

 /* When you need to use just the copy font, and not other copy properties */
.copy-font {   
    font-family: 'Droid Sans', sans-serif;
}
/* */ 

.fsz-xlarge {
    font-size: 2.45em;
    line-height: 3rem;
}
.fsz-large {
    font-size: 2em;
    line-height: 2.55rem;
}
.fsz-med {
    font-size: 1.55rem;
    line-height: 1.3em;
}
.fsz-small {
    font-size: 1rem;
}

.fw-light {
    font-weight: 200;
}
.fw-regular {
    font-weight: 400;
}
.fw-bold {
    font-weight: 600;
}
.fw-black {
    font-weight: 900;
}

.ucase {
    text-transform: uppercase;
}


/* 
  Links
*/

a, 
a:visited {
    font-weight: 400;
    color: var(--yellow2);
    text-decoration: none;
    transition: .2s;
}

a:hover,
a:focus {
    color: var(--yellow3);
    transition: 0s;
}

.link-alt,
.link-alt:visited {
    font-family: 'Droid Sans', sans-serif;
    font-size: .9em;
    color: #1185BA;
    transition: .2s;
}

.link-alt:hover,
.link-alt:focus {
    color: #72C9F0;
    cursor: pointer;
    transition: 0s;
}



/* 
  Layouts and document blocks
*/


/*  Containers give some initial formatting to whatever is inside them. It is okay
    to nest them inside each other */

.std-container {
    margin: auto;
    padding: 4em 4em 10em 4em;
    font-size: .95em;
    width: 80vw;
    max-width: 70rem;
}

/*  Almost like the standard container, just tries to take more x-space  */
.wide-container {
    margin: auto;
    padding: 4em 7em 10em 7em;
    font-size: .95em;
}

/*  Contents of this container will be centered horizontally, but not vertically  */
.centered-container {
    display: flex;
    padding: 4em 0 10em 4em;
    justify-content: center;
}

/*  Contents of this container take as little width as possible, instead of stretching */
.min-width-container {
    display: grid;
    grid-template-columns: max-content;
}

/*  Use to create responsive full bleed images/videos, like in the "About Us", 
or "Citations" pages  */
.full-bleed-container {
    margin: 0;
    overflow: hidden;
}
.full-bleed-container img,
.full-bleed-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

/*  General-purpose flex container  */
.flex-container {
    display: flex;
    width: 100%;
}
.flex-child {
    flex: 1;
}
/*  Spreads elements inside a flex container horizontally  */
.flex-h-stretch {
    justify-content: space-between;
}


.subsection {
    padding-bottom: 2em;
}



/* 
  Universal modifiers
*/

.no-pad {
    padding: 0 !important;
}
.no-pad-b {
    padding-bottom: 0 !important;
}
.extra-pad-t {
    padding-top: 1rem !important;
}
.extra-pad-r {
    padding-right: 2rem !important;
}
.extra-pad-b {
    padding-bottom: 1rem !important;
}
.extra-pad-l {
    padding-left: 2rem !important;
}

.extra-marg-t {
    margin-top: 1rem !important;
}

.text-center {
    text-align: center;
}
.flex-center {
    display: flex;
    align-items: center;  
    justify-content: center; 
}
.flex-h-center {
    display: flex;
    justify-content: center;   
}
.flex-v-center {
    display: flex;
    align-items: center;     
}

.inline {
    display: inline !important;
}

.hidden {
    display: none;
}



/* 
  UI elements and Forms
*/

.btn-action,
.btn-action:hover,
.btn-action:focus {
    padding: .933em 1.66em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000 !important;
    background-color: var(--yellow);
    box-shadow: 2px 2px 3px 0px rgba(100,100,100,0.175);
    cursor: pointer;
}
.btn-action:active {
    box-shadow: inset 2px 2px 3px 0px rgba(100,100,100,0.175);
}

.btn-default {
    padding: .933em 1.66em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: white !important;
    background-color: var(--black);
}
.btn-default:hover,
.btn-default:focus {
    background-color: var(--yellow);
    color: var(--black) !important;
}
.btn-default:active {
    background-color: var(--lgray);
    color: black;
}

.btn-special {
    padding: .5em 1em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.33em;
    font-weight: 900;
    color: white !important;
    background-color: var(--black);
}
.btn-special:hover,
.btn-special:focus {
    background-color: var(--yellow);
    color: var(--black) !important;
}
.btn-special:active {
    background-color: var(--lgray);
    color: black;    
}


.btn-ghost,
.btn-ghost:hover,
.btn-ghost:focus {
    padding: .933em 1.66em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
}
.btn-ghost:active {
    color: var(--gray2);      
    border: 2px solid var(--gray2); 
}

.inp-text {
    display: inline;
    padding: 0.66rem 0.5rem;
    line-height: 0;
    box-shadow: inset 0px 2px 3px #e0e0e0;
    border: 1px solid var(--lgray);
    width: 20rem;
}
.inp-text:focus {
    outline: none !important;
    border: 1px solid var(--yellow);
}
::placeholder {
    font-weight: 200;
    letter-spacing: 0.02em;
    color: var(--gray2);
    opacity: 1; 
}
:-ms-input-placeholder {
    font-weight: 200;
    color: var(--gray2);
}
::-ms-input-placeholder { 
    font-weight: 200;
    color: var(--gray2);
}
.inp-text__password-toggle {
    margin-left: -26px;
    color: var(--gray2);
    cursor: pointer;
}

label.required::after {
    padding-left: .2em;
    font-weight: 400;
    color: var(--red);
    content: "*";
}

.inp-dropdown {
    display: inline;
    width: 20rem;  
    padding: .66rem 0.5rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
    line-height: 1.5364em;
    box-shadow: inset 0px 2px 3px #e0e0e0;
    border: 1px solid var(--lgray);
    background: url(../img/icons/inp-dropdown_arrow.png) no-repeat right/1.5em rgb(0,0,0,0);
    background-position: 98% 55%;  
}

.inp-checkbox {
    display: inline;
}
.label-checkbox {
    padding: 0em .2em;
    vertical-align: bottom;
    text-transform: none;
}
.label-radio {
    padding: 0em 1.33em 0em 0.2em;
    text-transform: none;
}

.accordion-title {
    padding: .8em .1em .8em 0;
    font-size: 1.66em;
    font-weight: 400;
    text-transform: uppercase;
    user-select: none;
    border-bottom: 1px solid var(--gray);
}

.accordion-title:hover,
.accordion-title:focus {
    cursor: pointer;
}
/* Tutorial used: https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion-title:after {
    content: '\02795';  /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--gray);
    float: right;	
    margin-left: 5px;
}
.accordion-title.active:after {   
    content: "\2796";   /* Unicode character for "minus" sign (-) */
}

.accordion-body {
    padding: .33em 0 0 1.66em;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-out;
}
.accordion-body.empty {
    padding: 0 !important;
}


/* UI: Tab Control */

.tab-control {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1.66em;
}

.tab-control__buttons ul {
    margin: 0;
    padding: 0; 
}

.tab-control__buttons li {
    padding: 1em;
    min-width: 10em;
    text-align: center;
    list-style-type: none;
    font-weight: 600;
    color: var(--black);
    border-bottom: 2px solid var(--black);
}

.tab-control__buttons li:last-child {
    border-bottom: 0;
}

.tab-control__buttons li.active {
    color: var(--white);
    background-color: var(--black);
}

.tab-control__buttons li:not(.active):hover,
.tab-control__buttons li:not(.active):focus {
    background-color: var(--yellow);
    cursor: pointer;
}

.tab-control__content {
    padding: 1em .33em;
    font-size: .9em;
    font-family: 'Droid Sans', sans-serif;
}



/*
  Modules: Main Navigation
*/

#main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.66rem;
    border: 0;
    border-bottom: 1px solid var(--lgray);
    position: relative;
}
#main-nav.demo {
    border: 1px solid var(--lgray);    
}

#main-nav__logo {
    position: absolute;
    top: -2px;
    left: 0;
}
#main-nav__logo img {
    margin: 1.55rem;
    max-width: 2.66rem;   
    max-height: 2.66rem;   
}

.main-nav__central-item {
    display: inline;
    padding: 0 2rem;
    font-size: 1.33rem;
    font-weight: 600;
    text-transform: uppercase;
}
.main-nav__central-item:hover,
.main-nav__central-item:focus,
.main-nav__central-item.active 
{
    text-decoration: underline;
    text-underline-offset: .5em;
    text-decoration-thickness: 3px;
    cursor: pointer;
}
.main-nav__central-item.active 
{
    cursor: default;
}

#main-nav__corner {
    position: absolute;
    right: .33em;
    height: 100%;
}

#main-nav__corner__top-nav {
    position: relative;
    top: .5rem;
    right: 0;
}
.main-nav__corner__top-nav__btn {
    display: inline;
    padding: .5rem 1.33rem;
    font-size: .9em;
    color: var(--black);
}
.main-nav__corner__top-nav__btn i {
    padding: 0 .33em;
}
.main-nav__corner__top-nav__btn:hover,
.main-nav__corner__top-nav__btn:focus 
{
    background-color: black;
    color: white;
    cursor: pointer;
}

#main-nav__corner__bottom-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.4em;
    padding-right: .33em;
}
#main-nav__corner__bottom-nav__search-bar .inp-text {
    width: 14rem;
    padding: 0.33rem 0.5rem;
    font-size: .88em;
}
#main-nav__corner__bottom-nav__search-bar {
    display: inline;
    padding-right: .55em;
}
#main-nav__corner__bottom-nav__search-bar i {
    margin-left: -1.66em;
    padding-right: .66em;
    color: var(--lgray);
}
.main-nav__corner__bottom-nav__btn {
    display: inline;   
}
.main-nav__corner__bottom-nav__btn i {
    padding: 0 0.33em;
    vertical-align: middle;
    line-height: 1.33em;
    font-size: 1.33em;
}
.main-nav__corner__bottom-nav__btn a {
    color: var(--black);
}
.main-nav__corner__bottom-nav__btn i:hover,
.main-nav__corner__bottom-nav__btn i:focus {
    cursor: pointer;
}

#main-nav__corner__hamburger {
    display: none;
}

#main-nav__corner__hamburger_body {
    display: none;
    width: 80vw;
    max-width: 28em;
    background-color: white;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 999;
}

#main-nav__corner__hamburger_body a {
    color: black;
}

#main-nav__corner__hamburger_body ul {
    margin: 0;
    padding: 0;
}

#main-nav__corner__hamburger_body li {
    padding: .33em 2em;
    list-style-type: none;
    line-height: 4em;
}

#main-nav__corner__hamburger_body li:hover {
    background-color: var(--lgray2);
}

#main-nav__corner__hamburger_body__search-btn {
    padding: 0.9em 1.33em;
    margin-left: .66em;
}

#main-nav__corner__hamburger_body .inp-text {
    margin: .5em 0;
    margin-left: 2em;
}

#main-nav__corner__hamburger_body li > i {
    font-size: 1.25em;
    padding-right: .5em;
}

#main-nav__corner__hamburger_body__backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    #main-nav__corner__top-nav {
        display: none;
    }
    #main-nav__corner__bottom-nav {
        display: none;
    }
    #main-nav__corner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #main-nav__corner__hamburger {
        display: block;
        margin-right: .8em;
        font-size: 1.95em;
    }
    #main-nav__corner__hamburger:hover,
    #main-nav__corner__hamburger:focus {
        cursor: pointer;
    }
}

#main-nav__dropdown {
    display: flex;
    justify-content: space-between;
    width: 55rem;
    padding: 0 .5em;
    background-color: var(--yellow);
    font-size: 1.066em;
    position: absolute;
    top: 6rem;
    box-shadow: 4px 4px 8px 2px rgba(100,100,100,0.1);
    z-index: 100;
    visibility: hidden;  
}
#main-nav__dropdown__arrow {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid var(--yellow);
    position: absolute;
    top: -0.9rem;
}
#main-nav__dropdown__arrow.womens {
    left: 21.28rem;
}
#main-nav__dropdown__arrow.mens {
    left: 29.95rem;
}
.main-nav__dropdown__col {
    padding: 1rem 2rem 2rem 2rem;
    width: 25%;
}
#main-nav__dropdown h4 {
    font-weight: 600;
    font-size: 1.15em;
    text-transform: uppercase;
}
#main-nav__dropdown a {
    color: var(--black);
}
#main-nav__dropdown ul {
    padding: 0;
}
#main-nav__dropdown li {
    padding: .466em .566em;
    margin-top: .33em;
    margin-left: -.5em;
    list-style-type: none;
}
#main-nav__dropdown li:hover {
    color: var(--yellow);
    background-color: var(--darkyellow);
    cursor: pointer;
}


/*
  Modules: Footer
*/

#footer {
    display: flex;
    justify-content: space-between;
    height: 24rem;
    padding: 2.66rem 3rem;
    color: var(--white);
    background-color: var(--black);
}

#footer ul {
    margin: 0;
    padding: 0 6vw 0 0;
    list-style-type: none;
}

#footer li {
    line-height: 2rem;
}

#footer a,
#footer a:visited {
    color: var(--lgray);
}
#footer a:hover,
#footer a:focus {
    color: var(--white);
}

#footer__nav {
    display: flex;
}

.footer__col-caption {
    padding-bottom: 1.33rem;
    font-weight: 600;
    letter-spacing: .033rem;
    text-transform: uppercase;
}
.footer__col-item {
    padding-bottom: .5rem;
}

#footer__logo img {
    margin-bottom: .33em;
    max-width: 2.66rem;   
    max-height: 2.66rem;      
}

#footer__right {
    padding: 0 2vw 0 0;   
}

#footer__social-media-links {
    padding: 1.33rem 0;
    letter-spacing: 0.09em;
    font-size: 2rem;
}
#footer__social-media-links a,
#footer__social-media-links a:visited,
#footer__social-media-links a:hover,
#footer__social-media-links a:focus {
    font-size: .92em;
    color: var(--white);
    padding-right: .233rem;
}

#footer__contacts {
    font-weight: 200;
    line-height: 1.8rem;
    letter-spacing: .0166em;
    color: var(--white);
}
#footer__contacts i {
    font-size: 1.33em;
    padding-right: .33em;
    line-height: 0.3em;
}

/*
  Modules: Breadcrumbs
*/

.breadcrumbs {
    padding: 1rem 0 2.8rem 0;
    font-size: 2rem;
}

.breadcrumbs a,
.breadcrumbs a:visited {
    color: var(--black);
    transition: .2s;
}
.breadcrumbs a:hover {
    color: var(--gray2);
    cursor: pointer;
    transition: 0s;
}

.breadcrumbs__first-level {
    text-transform: uppercase;
}

.breadcrumbs__separator {
    display: inline;
    padding: 0 .15em;
}

.breadcrumbs__last-level {
    font-weight: 700;
}


/* 
    Landing Page
*/

#landing a {
    margin: auto;
}

#landing__hero {
    position: relative;
}

#landing__hero h1 {
    padding: .45em .25em;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--yellow);
    position: absolute;
    bottom: 20rem;
    left: 5rem;
}

#landing__hero h2 {
    padding: .5em .4em;
    font-size: 2.33em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    position: absolute;
    bottom: 17rem;
    left: 5rem;
}

#landing__hero a {
    padding: .66em 1em;
    font-size: 2em;
    position: absolute;
    bottom: 12rem;
    left: 5rem;    
}

#landing__new-arrivals h2,
#landing__bestsellers h2 {
    padding: 0em 0em 1.33em 0em;
    text-align: center;
}

#landing__new-arrivals .flex-container,
#landing__bestsellers .flex-container {
    column-gap: 5rem;   
}

#landing__sales {
    padding: .66rem 0;
    background-color: #F2003A;
}

#landing__sales h2 {
    padding-bottom: 1.66rem;
    padding-right: 2.66rem;
    color: white !important;
    animation: pulse .33s infinite ease-in-out alternate;
}

@keyframes pulse {
    100% {
        transform: scale(1.025);
    }
}

#landing__sales a {
    margin: 0;
    max-height: 2.4em;
}