*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Titillium Web', sans-serif;
}

body {
	padding-left: 10%;
	padding-right:10%;
	 max-width:1200px;
	 margin:auto;
	 background-color: white;
	 font-family: 'Titillium Web', sans-serif;
}

img{
	width:100%;
}


#product_category_title_one{
	font-weight:1;
}

#product_category_title_two{
	font-weight:bolder;
}

#single_product_detail{
	display:flex;
	justify-content:space-evenly;
}

#product_big_image>img{
	width:80%;
}

#product_images{
	margin-top:2rem;
	margin-right:3rem;
}

#product_small_images>img{
	width:5%;
}

#product_small_images{
	width:80%;
	margin-top:1rem;
	display:flex;
	justify-content:space-evenly;
}

#product_introduction{
	margin-top:2rem;
}
#product_name{
	margin-bottom:2rem;
}

#product_name{
	font-size:2rem;
	font-weight:1;
}

ul{
	list-style-type: none;
}

ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

#product_characteristics{
	margin-left:1rem;
	margin-bottom:1rem;
}

#paragraph{
	font-size:0.5rem;
	text-align: justify;
}

#more_information_reviews{
	border-bottom:1px solid black;
	padding-top:3rem;
	font-size:1.5rem;
}

#more_information_questions{
	border-bottom:1px solid black;
	padding-top:1rem;
	font-size:1.5rem;
}

#add_to_cart{
	padding-top:4rem;
}

.button{
	text-decoration: none;
	font-weight:bolder;
	color:black;
	background-color:#FFFF00;
	padding: 0.5rem 2rem;
	transition: all 0.5s;
}

.button:hover{
	color:#FFFF00;
	background-color:black;
}

#also_like{
	font-size:2rem;
	font-weight:1;
}

#also_like_images{
	margin-top:2rem;
	display:flex;
	justify-content:space-evenly;
}

.single_product_also_like>.also_like_single_image{
	overflow:hidden;
	font-size:0;

}
.also_like_single_image img{
	transform:scale(1,1);
	transition:transform 0.5s;
}
.also_like_single_image img:hover{
	transform:scale(1.3, 1.3);
}

.single_product_also_like{
	position:relative;
}
.single_product_also_like_content{
	width:100%;
	bottom:0;
	left:0;
	background-color:rgba(255,255,255,0.5);
	position:absolute;
}




