/* about us page */

section * {
    font-family: 'Titillium Web', sans-serif !important;
}

section p {
    font-family: 'Droid Sans', sans-serif !important;
}

.about_us_content{
	position:absolute;
	text-align:center;
	color:white !important;
	width:50%;
	top:25%;
	left:25%;
	text-shadow:5px 5px 2px black;
}

.about_us_content h1 {
	color: white !important;
}

.about_us_title{
	font-size:5rem;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom:8rem;
}

.about_us_information{
	font-size:1.5rem;
}


.about_us_background_image{
	position:relative;
	width:100vw;
	font-size:0rem;
}

.about_us_background_image img {
	width:100vw;
}


/* about us page solgan section */
/* slogan section */
#about_slogan{
    background-color:#FFFF00;
}
.about_us_smalltitle{
	font-size:3rem;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom:8rem;

}

.about_us_background_smallimage {
	width:100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

#about_slogan >.about_us_background_smallimage div:nth-of-type(1){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    width: 50%;
    flex-grow: 1;
}

#about_slogan >.about_us_background_smallimage div:nth-of-type(2){
    width: 50%;
    flex-grow: 1;
    font-size:0;

}

#about_slogan > .about_us_background_smallimage div:nth-of-type(2) img{
	width:100%;

}

/* strategy section */

#about_strategy > .about_us_background_smallimage div:nth-of-type(1){
    width: 50%;
    flex-grow: 1;
    font-size:0;

}

#about_strategy > .about_us_background_smallimage div:nth-of-type(1) img{
	width:100%;

}

#about_strategy > .about_us_background_smallimage div:nth-of-type(2){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    width: 50%;
    flex-grow: 1;
}

/* newsletter section */ 

#about_newsletter{
    background-color:#FFFF00;

}

#about_newsletter >.about_us_background_smallimage div:nth-of-type(1){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    width: 50%;
    flex-grow: 1;
}

#about_newsletter >.about_us_background_smallimage div:nth-of-type(2){
    width: 50%;
    flex-grow: 1;
    font-size:0;

}

#about_newsletter > .about_us_background_smallimage div:nth-of-type(2) img{
	width:100%;

}

/* about us page work place section */ 


#about_workplace > .about_us_background_smallimage div:nth-of-type(1){
    width: 50%;
    flex-grow: 1;
    font-size:0;

}

#about_workplace > .about_us_background_smallimage div:nth-of-type(1) img{
	width:100%;

}

#about_workplace > .about_us_background_smallimage div:nth-of-type(2){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    width: 50%;
    flex-grow: 1;
}

/* about us page join us section */ 


#about_join_us >.about_us_background_smallimage div:nth-of-type(1){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    width: 50%;
    flex-grow: 1;
}

#about_join_us >.about_us_background_smallimage div:nth-of-type(2){
    width: 50%;
    flex-grow: 1;
    font-size:0;

}

#about_join_us > .about_us_background_smallimage div:nth-of-type(2) img{
	width:100%;

}
.about_us_smallinformation{
	margin-bottom:5rem;
}

/* about us page buttons */ 

.about_button{
	text-decoration: none;
	font-weight:bolder;
	color:#FFFF00;
	background-color:black;
	padding: 1rem 3rem;
	transition: all 0.5s;
}


/* add decoration of the button when being hovered */
.about_button:hover{
	color: black ;
	background-color:#FFFF00;
}


.about_us_smallcontent{
	text-align:center;
}